<form action="/result" method="post">
  <div class="form-group">
    <label for="task">What To Do:</label>
    <input class="form-control" type="text" name="task" id="task">
  </div>
  <button type="submit" name="button">Click</button>
</form>
